header{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
}

h1{
    font-family: 'Montserrat';
    color:white ;
    /* text-shadow: 7px 8px 4.5px rgb(139, 164, 167); */
    display: inline;
}

header img{
    width: 50px;
    float: left;
    margin: 0rem -1rem;
}

#logoutButton{
    float: right;
}

.userInfo{
    font-family: 'Montserrat';
    height: auto;
    width: 430px;
    margin-top: 10rem;
    margin-right: 0;
    border: 1px solid rgb(168, 168, 168);
    border-left: 0px;
    border-bottom: 0px;
    padding-bottom: 2rem;
}

.profilePoto{
    height: 170px;
    width: 170px;
    margin-left: 20px;
    margin-top: 20px;
    object-fit: cover;
}

#profImg{
    margin-left: 20px;
    margin-top: 20px;
}

#info{
    margin-left: 20px;
}

#contact{
    margin-left: 7px;
}

#backToTop{
    float: right;
    margin-right: 7px;
}

#author{
    margin-left: 7px;
    color: #fff;
}

#copyrigth{
    margin-left: 7px;
}

footer{
    font-size: 18px;
    background-color: rgb(44, 42, 42);
    color: white;
    padding: 1rem;
}

a:visited{
    color: #fff;
}

a:link{
    color: #fff;
}

a:hover{
    color: cornflowerblue;
}

footer a{
    transition: color 0.4s ease;
}


html{
    background-color: #efefef;

}

body{
    margin: 0 ;
}

button{
    transition: box-shadow 0.4s ease;
    background-color:#364552;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 35px;
    border-style: ridge;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.6) ;
}


